alias "no"="setxkbmap no"
alias "us"="setxkbmap us"
alias "ls"="ls --color=auto"
alias "grep"="grep --color=auto"
alias "nb"="newsboat -r"
alias "ls"="exa"
alias "ll"="exa -l"

alias "c"="tcc -Wall -Werror"
alias "crun"="tcc -run -Wall -Werror"
alias "d"="dash"
alias "p3"="python3"
alias "vim"="nvim"
alias "pac"="doas pacman"
alias "docker"="doas docker"
alias "tsm"="transmission-remote"

alias "wednesday"="cat ~/wednesday"
alias "bat"="cat /sys/class/power_supply/BAT0/capacity"

alias "zshrc"="vim ~/.zshrc"
alias "vimrc"="vim ~/.vimrc"

alias "massfetch"="pfetch ; ufetch ; ~/bin/fetch ; neofetch"
alias "t"="todo.py"
alias ".."="cd .."

alias "doom"="~/compiling/crispy-doom/src/crispy-doom -iwad ~/.local/share/crispy-doom/DOOM.WAD"
