alias "no"="setxkbmap no"
alias "us"="setxkbmap us"
alias "ls"="ls --color=auto"
alias "grep"="grep --color=auto"

alias "d"="dash"
alias "p3"="python3"
alias "vim"="nvim"
alias "pac"="doas pacman"

alias "wednesday"="cat ~/wednesday.txt"
alias "bat"="cat /sys/class/power_supply/BAT0/capacity"

alias "zshrc"="vim ~/.zshrc"
alias "vimrc"="vim ~/.vimrc"

alias "massfetch"="pfetch ; ufetch ; ~/bin/fetch ; neofetch"
alias "t"="todo.py"
alias ".."="cd .."
