! X colors.
! Base16 Bright
URxvt.font: xft:Hack-Regular:size=10
XTerm.vt100.faceName: xft:Hack-Regular:size=10
UXTerm.font: xft:Hack-Regular:size=10

URxvt.internalBorder: 20
URxvt.scrollBar: false

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*background:                     #000000
URxvt*foreground:                     #e0e0e0
URxvt*cursorColor:                    #e0e0e0

URxvt*scrollColor:                    #e0e0e0
URxvt*highlightColor:                 #505050
URxvt*highlightTextColor:             #d0d0d0

URxvt*color0:                         #000000
URxvt*color1:                         #fb0120
URxvt*color2:                         #a1c659
URxvt*color3:                         #fda331
URxvt*color4:                         #6fb3d2
URxvt*color5:                         #d381c3
URxvt*color6:                         #76c7b7
URxvt*color7:                         #e0e0e0
URxvt*color8:                         #b0b0b0
URxvt*color9:                         #fb0120
URxvt*color10:                        #a1c659
URxvt*color11:                        #fda331
URxvt*color12:                        #6fb3d2
URxvt*color13:                        #d381c3
URxvt*color14:                        #76c7b7
URxvt*color15:                        #ffffff

URxvt*color16:                        #fc6d24
URxvt*color17:                        #be643c
URxvt*color18:                        #303030
URxvt*color19:                        #505050
URxvt*color20:                        #d0d0d0
URxvt*color21:                        #f5f5f5


! Black color that will not be affected by bold highlighting.
*.color66: #000000
*color66:  #000000

! Xclock colors.
XClock*foreground: #f4f4f4
XClock*background: #000000
XClock*majorColor:  rgba:f4/f4/f4/ff
XClock*minorColor:  rgba:f4/f4/f4/ff
XClock*hourColor:   rgba:f4/f4/f4/ff
XClock*minuteColor: rgba:f4/f4/f4/ff
XClock*secondColor: rgba:f4/f4/f4/ff

! Set depth to make transparency work.
URxvt*depth: 32
